# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:5001/api
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Google OAuth Configuration
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id-here

# Google Site Verification
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=your-verification-code

# App Configuration
NEXT_PUBLIC_APP_NAME=TripMe
NEXT_PUBLIC_APP_DESCRIPTION=Your trusted platform for unique accommodations and experiences


NEXT_PUBLIC_GOOGLE_MAPS_API_KEY = yoursecretkey